= form_for @advert, :html => { :multipart => true } do |f|
  -if @advert.errors.any?
    #error_explanation
      %h2= "#{pluralize(@advert.errors.count, "error")} prohibited this advert from being saved:"
      %ul
        - @advert.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :text
    = f.text_area :text
    = f.label :image
    = f.file_field :image
  .actions
    = f.submit 'Save'
