%h1 Listing adverts

= form_tag adverts_path, :method => :get do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil

%table
  %tr
    %th
    %th Text
    %th Author
    %th Date
    %th
    %th
    %th

  - @adverts.each do |advert|
    %tr
      %td= image_tag advert.image.url(:thumb), :alt => "AdImage"
      %td= advert.text
      %td
        Added by
        = advert.user.full_name
      %td
        = advert.updated_at.strftime("Added %e of %b, %Y at %k:%M")
      %td= link_to 'Show', advert
      %td
        -if can? :update, advert
          = link_to 'Edit', edit_advert_path(advert)
      %td
        -if can? :delete, advert
          = link_to 'Destroy', advert, :confirm => 'Are you sure?', :method => :delete

%br
- if can? :create, Advert
  = link_to 'New Advert', new_advert_path